{
  "openapi": "3.0.1",
  "info": {
    "title": "File Management API",
    "description": "An API to manage files with upload, retrieval, and deletion operations.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.ghostfile.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/files": {
      "get": {
        "description": "Retrieve a specific file by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the file to retrieve.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Uploads a new file.",
        "parameters": [
        {
          "name": "user_id",
          "in": "query",
          "description": "The ID of the user to associate the file with. If not provided, the file will be uploaded anonymously.",
          "required": false,
          "schema": {
            "type": "string",
            "example": "user-12345"
          }
        }
      ],
      "requestBody": {
        "description": "The file to upload.",
        "content": {
          "multipart/form-data": {
            "schema": {
              "$ref": "#/components/schemas/NewFile"
            }
          }
        },
        "required": true
      },
        "responses": {
          "201": {
            "description": "File uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/list": {
      "get": {
        "description": "Lists all files owned by the API key.",
        "responses": {
          "200": {
            "description": "List of files retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileDetail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/delete-file": {
      "delete": {
        "description": "Deletes a file by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the file to delete.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted successfully.",
            "content": {}
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/developers/get-self": {
      "get": {
        "description": "Retrieve information about the owner of the API key, including stats and limits.",
        "responses": {
          "200": {
            "description": "Owner information retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Owner"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "The unique ID of the file."
          },
          "name": {
            "type": "string",
            "description": "The name of the file."
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "The size of the file in bytes."
          },
          "url": {
            "type": "string",
            "description": "The URL to access the file."
          }
        }
      },
      "FileDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "The unique ID of the file."
          },
          "name": {
            "type": "string",
            "description": "The name of the file."
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "The size of the file in bytes."
          },
          "url": {
            "type": "string",
            "description": "The URL to access the file."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp when the file was created."
          }
        }
      },
      "NewFile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the file."
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The binary content of the file to upload."
          }
        }
      },
      "Owner": {
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "The unique ID of the API key owner."
              },
              "secret": {
                "type": "string",
                "description": "The secret key of the API key owner."
              }
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "total_requests": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of API requests made by the owner."
              },
              "total_storage_mb": {
                "type": "number",
                "format": "float",
                "description": "The total amount of storage used by the owner, in MB."
              }
            }
          },
          "limits": {
            "type": "object",
            "properties": {
              "requests": {
                "type": "object",
                "properties": {
                  "sent": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of API requests sent by the owner."
                  },
                  "remaining": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of remaining API requests allowed."
                  },
                  "used_percentage": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The percentage of API request quota used."
                  }
                }
              },
              "storage": {
                "type": "object",
                "properties": {
                  "used_mb": {
                    "type": "number",
                    "format": "float",
                    "description": "The amount of storage used, in MB."
                  },
                  "remaining_mb": {
                    "type": "number",
                    "format": "float",
                    "description": "The amount of storage remaining, in MB."
                  },
                  "used_percentage": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The percentage of storage quota used."
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "The error code."
          },
          "message": {
            "type": "string",
            "description": "The error message."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}