{
  "openapi": "3.0.1",
  "info": {
    "title": "File Management API",
    "description": "An API to manage files with upload, retrieval, and deletion operations.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/files": {
      "get": {
        "description": "Retrieve a list of files or a specific file by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the file to retrieve.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Uploads a new file.",
        "requestBody": {
          "description": "The file to upload.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/NewFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "File uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/delete-file": {
      "delete": {
        "description": "Deletes a file by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the file to delete.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted successfully.",
            "content": {}
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "The unique ID of the file."
          },
          "name": {
            "type": "string",
            "description": "The name of the file."
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "The size of the file in bytes."
          },
          "url": {
            "type": "string",
            "description": "The URL to access the file."
          }
        }
      },
      "NewFile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the file."
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The binary content of the file to upload."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "The error code."
          },
          "message": {
            "type": "string",
            "description": "The error message."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
